*.sh  -filter=unspecified -diff=unspecified -merge=unspecified -text=unspecified
*.dll -filter=unspecified -diff=unspecified -merge=unspecified -text=unspecified
*.pdf -filter=unspecified -diff=unspecified -merge=unspecified -text=unspecified
